* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling/picture added to body of webpage */
body {
    font-family: cursive;
    color: black;
    background-color: rgb(41, 166, 129);
    /* will not load from my downloaded image, due to time constraints, limited amount of troubleshooting */
    background-image: url("https://www.brisbanetimes.com.au/interactive/2015/ExtremeWeather/media/thunder_landscape-mr.jpg ");
    background-size: cover;
    background-position: top center;
}

.app-wrap {
    display: flex;
    justify-content: center;
    top: 450px;
    flex-direction: column;
    /* min-height: 100vh; */
    }

/* Ensuring date, location, and weather are placed in the center of the page */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

/* Styling search bar */
header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    border-bottom: 3px ridge rgb(10, 54, 38);
    color: rgb(20, 20, 20);
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;

}

header input:focus {
    background-color: bisque;
}

/* Now adding styling properties to date, location, and weather */
main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: bisque;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color: bisque;
    font-size: 25px;
}

.current .temp {
    color: bisque;
    font-size: 100px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 5px navy;
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    color: bisque;
    font-size: 35px;
    font-weight: 700;
    font-style: oblique;
    margin-bottom: 15px;
}

.current .hi-low {
    color: bisque;
    font-size: 25px;
    font-weight: 700;
    font-style: oblique;
    margin-bottom: 15px;
}

#five-day {
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1300px;
    border: 5px solid white;
    border-radius: 10px;
}

.day-container {
    position: absolute;
    top: 50%;
    left: 50%;
}